_subdirectory: copier-template

_answers_file: ./copier-instances/.copier-answers-{{ '{{ copier_template_name }}' }}-{{ '{{ copier_template_guid }}' }}.yml

copier_template_name:
  type: str
  default: {{ copier_template_name }}

copier_template_guid:
  type: str
  default: {{ '"{% from 'guid.jinja' import random_guid %}{{ random_guid() }}"' }}
